body, input {
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

#name {
    width: 20%;
}

#message {
    width: 70%;
}

.left{
    width: 25%;
}

.middle {
    width: 15%;
}

.right {
    width: 60%;
}